{% extends 'base.html.twig' %}

{% block title %}Sell{% endblock %}

{% block body %}
    <h1> Vendez votre article !</h1>
    {{form(form_sell)}}
    {% for type, messages in app.flashes %}
    <div class="alert alert-{{ type }}">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endfor %}
       

    </div>
{% endblock %}
